extends layout

block content
  img(src='/img/logo.png', style='width: 150px; margin: 20px auto; display: block;')
  h1(style='text-align: center; margin: 20px 0')
   | Resilient &amp; Rapid Raspberries
   br
   | Team Juliet