extends layout

block head
  script(src='/js/lib/segment-display.js')
  script(src='/js/time.js')

block content
  div#status-header
    h1 System Status    
    canvas#display(width='200', height='60')
  
  +client_list(client_list)
  +system_status(throughput, loadAv, total_orders, total_trades, total_symbols)