extends layout

block head
  script(src='/js/lib/segment-display.js')
  script(src='/js/time.js')

block content
  h1 System Status
  
  center
    canvas#display(width='200', height='60')
  
  +client_list(client_list)