extends layout

block head
  script(src='/js/main.js')
  script(src='/js/stock-graph.js')
  script(src='/js/time.js')
  script(src='/js/candle-graph.js')
  meta(name="stock-data", content="#{JSON.stringify(trade_list)}")
  meta(name="price-scale", content="#{symbol.price_scale}")
  meta(name="symbol", content="#{symbol.symbol}")
  meta(name="cData", content='#{JSON.stringify(cData)}')

block content
  +symbol_summary(symbol, stats)
  div#stock-graph
  div#candle-graph
